<tr>
  <td>
    <button
    class="Button_text_input"
    (click)="changeValue('0')"
    >0</button>
  </td>
  <td>
    <button
    class="Button_text_input"
    (click)="changeValue('1')"
    >1</button>
  </td>
  <td>
    <button
    class="Button_text_input"
    (click)="changeValue('2')"
    >2</button>
  </td>
  <td>
    <button
    class="Button_text_input"
    (click)="changeValue('3')"
    >3</button>
  </td>
  <td>
    <button
    class="Button_text_input"
    (click)="changeValue('4')"
    >4</button>
  </td>
  <td>
    <button
    class="Button_text_input"
    (click)="changeValue('5')"
    >5</button>
  </td>
  <td>
    <button
    class="Button_text_input"
    (click)="changeValue('6')"
    >6</button>
  </td>
  <td>
    <button
    class="Button_text_input"
    (click)="changeValue('7')"
    >7</button>
  </td>
  <td>
    <button
    class="Button_text_input"
    (click)="changeValue('8')"
    >8</button>
  </td>
  <td>
    <button
    class="Button_text_input"
    (click)="changeValue('9')"
    >9</button>
  </td>
  <td>
    <button
    class="Button_text_input backspace"
    (click)="changeValue('backspace')"
    >
    <img src="assets/backspace.svg" class="img"/>
    </button>
  </td>
</tr>
